body
{
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}
header
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#generality
{
  width: 100%;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f3f3;
}
#title
{
  display: flex;
  justify-content: center;
}
#title h1
{
  font-family: 'Shrikhand', cursive;
  font-size: 10vw;
  margin: 0px auto;
}
#search
{
  width: 100%;
  height: 80px;
  border-top: #c8c8c8 5px solid;
  background: #e7e7e7;
  display: flex;
  justify-content: space-evenly;
}
form /*MENU DE RECHERCHE*/
{
  width: 37%;
  display: flex;
  justify-content: center;
}
label
{
  margin: auto 0;
}
label a
{
  margin: auto 0;
  text-decoration: none;
  color: #000;
}
.fas.fa-map-marker-alt
{
  width: 30px;
  height: 45px;
  font-size: 37px;
}
input
{
  width: 250px;
  background: #e7e7e7;
  border: none;
  height: 45px;
  margin: auto 30px;
  font-size: 25px;
  font-weight: bold;
}
button
{
  height: 47px;
  margin: auto 0;
}
#slogH/*SLOGAN*/
{
  margin: 75px 50px 0 50px;
  font-size: 60px;
  text-align: center;
}
#slogP
{
  margin: 0 40px 50px 40px;
  font-size: 35px; 
  text-align: center;
}
#slogA
{
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  padding: 15px 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 35px;
  box-shadow: #99E2D0 1px 2px 4px;
  margin-bottom: 75px;
}
#how /*SECTION MODE D'EMPLOI*/
{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  }
#how h1
{
  font-size: 35px;
}
#titleFunction
{
  text-align: center;
}
#read /*Block du MODE D'EMPLOI*/
{
  display: flex;
  align-items: center;
  /*flex: 1 39%;*/
  justify-content: space-around;
}
.linkhow /*BOUTONS*/
{
  display: flex;
  justify-content: space-around;
  flex: 1 22%;
  color: black;
  text-decoration: none;
}
.list
{
  margin: 0;
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: #f0f0f0 1px 2px 9px;
  transition: all 0.3s ease-out;
}
.list:hover
{
 background-color: #f8e9f4;
 box-shadow: #d9d9d9 2px 3px 9px;
 
}
.list:hover i
{
  color: #9356DC;
}
.number
{
  background: #9356DC;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: #fff;
  border-radius: 15px;
  display: flex;
  margin: 20px 20px 20px -13px;
  justify-content: center;
  align-items: center;
}
.list i
{
  font-size: 25px;
}
.list figcaption
{
  font-size: 25px;
  margin: 0 25px;
}
main /*SECTION RESTAURANTS*/
{
  width: 100%;
  margin-top: 70px;
}
/*#resto 
{
  width: 100%;
  margin: 70px auto;
}*/
#resto h1
{
  display: flex;
  font-size: 35px;
  justify-content: center;
}
.photo
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contentResto
{
  margin: 0px 0 55px 0px;
  flex: 0 45%;
}
.imgResto
{
  flex: 0 100%;
  text-decoration: none;
  flex-direction: column;
}
.image
{
  background-color: #fff;
  display: flex;
  border-radius: 15px;
  box-shadow: #99E2D0 1px 2px 4px;
}
.image img
{
  flex: 1 42%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
  
}
.description
{
  flex: 1 30%;
  display: flex;
  color: #000;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.description i
{
  font-size: 70px;
  font-weight: 100;
  transition: color 0.6s ease-out;
}
.description .far:hover
{
  background-color: #FF79DA;
}
footer /*SECTION FOOTER*/
{
  background: black;
}
#foot
{
  background: black;
}
#figFoot
{
  display: flex;
  flex-direction: column;
}
#figFoot p
{
  font-family: 'Shrikhand', cursive;
  color: #fff;
  font-size: 50px;
  margin: 15px 0;
}
#figcpt
{
  display: flex;
  flex-direction: column;
}
#figcpt a
{
  text-decoration: none;
  color: #fff;
  margin: 5px 0;
  width: 190px;
}
/*RESPONSIV*/
@media (max-width: 1230px)
{
  #read/*MODE D'EMPLOI*/
  {
    display: flex;
    flex-direction: column;
  }
  .linkhow
  {
    margin: 25px 0;
    width: 90%;
  }
  .list
  {
    width: 55%;
  }
  #resto /*SECTION RESTO*/
  {
    width: 95%;
    margin: 0 auto;
  }
  #resto h1
  {
    justify-content: start;
  }
  .photo 
  {
    flex-direction: column;
  }
  .contentResto
  {
    height: 100px;
    margin: 0;
  }
  .imgResto
  {
    height: 100px;
  }
  .image
  {
    flex-direction: column;
    height: 280px;
    margin: 25px 0;
  }
  .image img
  {
    height: 180px;
    border-radius: 15px 15px 0 0;
  }
  .description
  {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .like
  {
    margin-right: 15px;
  }
  .description h3
  {
    padding-left: 15px;
  }
  .description p
  {
    padding-left: 15px;
  }
}
